.dark-high-contrast {
    --md-sys-color-primary: rgb(218 251 176);
    --md-sys-color-surface-tint: rgb(177 209 138);
    --md-sys-color-on-primary: rgb(0 0 0);
    --md-sys-color-primary-container: rgb(173 205 134);
    --md-sys-color-on-primary-container: rgb(5 14 0);
    --md-sys-color-secondary: rgb(233 244 213);
    --md-sys-color-on-secondary: rgb(0 0 0);
    --md-sys-color-secondary-container: rgb(188 199 169);
    --md-sys-color-on-secondary-container: rgb(6 13 1);
    --md-sys-color-tertiary: rgb(201 249 245);
    --md-sys-color-on-tertiary: rgb(0 0 0);
    --md-sys-color-tertiary-container: rgb(156 204 199);
    --md-sys-color-on-tertiary-container: rgb(0 14 13);
    --md-sys-color-error: rgb(255 236 233);
    --md-sys-color-on-error: rgb(0 0 0);
    --md-sys-color-error-container: rgb(255 174 164);
    --md-sys-color-on-error-container: rgb(34 0 1);
    --md-sys-color-background: rgb(18 20 14);
    --md-sys-color-on-background: rgb(226 227 216);
    --md-sys-color-surface: rgb(18 20 14);
    --md-sys-color-on-surface: rgb(255 255 255);
    --md-sys-color-surface-variant: rgb(68 72 61);
    --md-sys-color-on-surface-variant: rgb(255 255 255);
    --md-sys-color-outline: rgb(238 242 226);
    --md-sys-color-outline-variant: rgb(193 196 182);
    --md-sys-color-shadow: rgb(0 0 0);
    --md-sys-color-scrim: rgb(0 0 0);
    --md-sys-color-inverse-surface: rgb(226 227 216);
    --md-sys-color-inverse-on-surface: rgb(0 0 0);
    --md-sys-color-inverse-primary: rgb(54 79 23);
    --md-sys-color-primary-fixed: rgb(205 237 163);
    --md-sys-color-on-primary-fixed: rgb(0 0 0);
    --md-sys-color-primary-fixed-dim: rgb(177 209 138);
    --md-sys-color-on-primary-fixed-variant: rgb(8 20 0);
    --md-sys-color-secondary-fixed: rgb(220 231 200);
    --md-sys-color-on-secondary-fixed: rgb(0 0 0);
    --md-sys-color-secondary-fixed-dim: rgb(191 203 173);
    --md-sys-color-on-secondary-fixed-variant: rgb(11 20 3);
    --md-sys-color-tertiary-fixed: rgb(188 236 231);
    --md-sys-color-on-tertiary-fixed: rgb(0 0 0);
    --md-sys-color-tertiary-fixed-dim: rgb(160 208 203);
    --md-sys-color-on-tertiary-fixed-variant: rgb(0 20 19);
    --md-sys-color-surface-dim: rgb(18 20 14);
    --md-sys-color-surface-bright: rgb(79 81 73);
    --md-sys-color-surface-container-lowest: rgb(0 0 0);
    --md-sys-color-surface-container-low: rgb(30 32 26);
    --md-sys-color-surface-container: rgb(47 49 42);
    --md-sys-color-surface-container-high: rgb(58 60 53);
    --md-sys-color-surface-container-highest: rgb(69 72 64);
}