.dark-medium-contrast {
    --md-sys-color-primary: rgb(199 231 158);
    --md-sys-color-surface-tint: rgb(177 209 138);
    --md-sys-color-on-primary: rgb(23 43 0);
    --md-sys-color-primary-container: rgb(125 154 89);
    --md-sys-color-on-primary-container: rgb(0 0 0);
    --md-sys-color-secondary: rgb(213 225 194);
    --md-sys-color-on-secondary: rgb(31 40 20);
    --md-sys-color-secondary-container: rgb(138 149 121);
    --md-sys-color-on-secondary-container: rgb(0 0 0);
    --md-sys-color-tertiary: rgb(181 230 225);
    --md-sys-color-on-tertiary: rgb(0 43 41);
    --md-sys-color-tertiary-container: rgb(107 153 149);
    --md-sys-color-on-tertiary-container: rgb(0 0 0);
    --md-sys-color-error: rgb(255 210 204);
    --md-sys-color-on-error: rgb(84 0 3);
    --md-sys-color-error-container: rgb(255 84 73);
    --md-sys-color-on-error-container: rgb(0 0 0);
    --md-sys-color-background: rgb(18 20 14);
    --md-sys-color-on-background: rgb(226 227 216);
    --md-sys-color-surface: rgb(18 20 14);
    --md-sys-color-on-surface: rgb(255 255 255);
    --md-sys-color-surface-variant: rgb(68 72 61);
    --md-sys-color-on-surface-variant: rgb(219 222 207);
    --md-sys-color-outline: rgb(176 179 166);
    --md-sys-color-outline-variant: rgb(142 146 133);
    --md-sys-color-shadow: rgb(0 0 0);
    --md-sys-color-scrim: rgb(0 0 0);
    --md-sys-color-inverse-surface: rgb(226 227 216);
    --md-sys-color-inverse-on-surface: rgb(40 43 36);
    --md-sys-color-inverse-primary: rgb(54 79 23);
    --md-sys-color-primary-fixed: rgb(205 237 163);
    --md-sys-color-on-primary-fixed: rgb(8 20 0);
    --md-sys-color-primary-fixed-dim: rgb(177 209 138);
    --md-sys-color-on-primary-fixed-variant: rgb(37 61 5);
    --md-sys-color-secondary-fixed: rgb(220 231 200);
    --md-sys-color-on-secondary-fixed: rgb(11 20 3);
    --md-sys-color-secondary-fixed-dim: rgb(191 203 173);
    --md-sys-color-on-secondary-fixed-variant: rgb(48 57 36);
    --md-sys-color-tertiary-fixed: rgb(188 236 231);
    --md-sys-color-on-tertiary-fixed: rgb(0 20 19);
    --md-sys-color-tertiary-fixed-dim: rgb(160 208 203);
    --md-sys-color-on-tertiary-fixed-variant: rgb(8 61 58);
    --md-sys-color-surface-dim: rgb(18 20 14);
    --md-sys-color-surface-bright: rgb(67 69 61);
    --md-sys-color-surface-container-lowest: rgb(6 8 4);
    --md-sys-color-surface-container-low: rgb(28 30 24);
    --md-sys-color-surface-container: rgb(38 41 34);
    --md-sys-color-surface-container-high: rgb(49 52 44);
    --md-sys-color-surface-container-highest: rgb(60 63 55);
}