.light-medium-contrast {
    --md-sys-color-primary: rgb(37 61 5);
    --md-sys-color-surface-tint: rgb(76 102 43);
    --md-sys-color-on-primary: rgb(255 255 255);
    --md-sys-color-primary-container: rgb(90 117 57);
    --md-sys-color-on-primary-container: rgb(255 255 255);
    --md-sys-color-secondary: rgb(48 57 36);
    --md-sys-color-on-secondary: rgb(255 255 255);
    --md-sys-color-secondary-container: rgb(102 113 87);
    --md-sys-color-on-secondary-container: rgb(255 255 255);
    --md-sys-color-tertiary: rgb(8 61 58);
    --md-sys-color-on-tertiary: rgb(255 255 255);
    --md-sys-color-tertiary-container: rgb(71 117 114);
    --md-sys-color-on-tertiary-container: rgb(255 255 255);
    --md-sys-color-error: rgb(116 0 6);
    --md-sys-color-on-error: rgb(255 255 255);
    --md-sys-color-error-container: rgb(207 44 39);
    --md-sys-color-on-error-container: rgb(255 255 255);
    --md-sys-color-background: rgb(249 250 239);
    --md-sys-color-on-background: rgb(26 28 22);
    --md-sys-color-surface: rgb(249 250 239);
    --md-sys-color-on-surface: rgb(15 18 12);
    --md-sys-color-surface-variant: rgb(225 228 213);
    --md-sys-color-on-surface-variant: rgb(52 56 45);
    --md-sys-color-outline: rgb(80 84 73);
    --md-sys-color-outline-variant: rgb(107 111 98);
    --md-sys-color-shadow: rgb(0 0 0);
    --md-sys-color-scrim: rgb(0 0 0);
    --md-sys-color-inverse-surface: rgb(47 49 42);
    --md-sys-color-inverse-on-surface: rgb(241 242 230);
    --md-sys-color-inverse-primary: rgb(177 209 138);
    --md-sys-color-primary-fixed: rgb(90 117 57);
    --md-sys-color-on-primary-fixed: rgb(255 255 255);
    --md-sys-color-primary-fixed-dim: rgb(66 92 35);
    --md-sys-color-on-primary-fixed-variant: rgb(255 255 255);
    --md-sys-color-secondary-fixed: rgb(102 113 87);
    --md-sys-color-on-secondary-fixed: rgb(255 255 255);
    --md-sys-color-secondary-fixed-dim: rgb(78 88 64);
    --md-sys-color-on-secondary-fixed-variant: rgb(255 255 255);
    --md-sys-color-tertiary-fixed: rgb(71 117 114);
    --md-sys-color-on-tertiary-fixed: rgb(255 255 255);
    --md-sys-color-tertiary-fixed-dim: rgb(46 92 89);
    --md-sys-color-on-tertiary-fixed-variant: rgb(255 255 255);
    --md-sys-color-surface-dim: rgb(198 199 189);
    --md-sys-color-surface-bright: rgb(249 250 239);
    --md-sys-color-surface-container-lowest: rgb(255 255 255);
    --md-sys-color-surface-container-low: rgb(243 244 233);
    --md-sys-color-surface-container: rgb(232 233 222);
    --md-sys-color-surface-container-high: rgb(220 222 211);
    --md-sys-color-surface-container-highest: rgb(209 211 200);
}