.light-high-contrast {
    --md-sys-color-primary: rgb(0 48 67);
    --md-sys-color-surface-tint: rgb(26 101 133);
    --md-sys-color-on-primary: rgb(255 255 255);
    --md-sys-color-primary-container: rgb(0 79 107);
    --md-sys-color-on-primary-container: rgb(255 255 255);
    --md-sys-color-secondary: rgb(27 46 57);
    --md-sys-color-on-secondary: rgb(255 255 255);
    --md-sys-color-secondary-container: rgb(57 76 87);
    --md-sys-color-on-secondary-container: rgb(255 255 255);
    --md-sys-color-tertiary: rgb(45 40 72);
    --md-sys-color-on-tertiary: rgb(255 255 255);
    --md-sys-color-tertiary-container: rgb(74 69 102);
    --md-sys-color-on-tertiary-container: rgb(255 255 255);
    --md-sys-color-error: rgb(96 0 4);
    --md-sys-color-on-error: rgb(255 255 255);
    --md-sys-color-error-container: rgb(152 0 10);
    --md-sys-color-on-error-container: rgb(255 255 255);
    --md-sys-color-background: rgb(246 250 254);
    --md-sys-color-on-background: rgb(23 28 31);
    --md-sys-color-surface: rgb(246 250 254);
    --md-sys-color-on-surface: rgb(0 0 0);
    --md-sys-color-surface-variant: rgb(220 227 233);
    --md-sys-color-on-surface-variant: rgb(0 0 0);
    --md-sys-color-outline: rgb(38 45 50);
    --md-sys-color-outline-variant: rgb(67 74 79);
    --md-sys-color-shadow: rgb(0 0 0);
    --md-sys-color-scrim: rgb(0 0 0);
    --md-sys-color-inverse-surface: rgb(44 49 52);
    --md-sys-color-inverse-on-surface: rgb(255 255 255);
    --md-sys-color-inverse-primary: rgb(142 207 242);
    --md-sys-color-primary-fixed: rgb(0 79 107);
    --md-sys-color-on-primary-fixed: rgb(255 255 255);
    --md-sys-color-primary-fixed-dim: rgb(0 55 76);
    --md-sys-color-on-primary-fixed-variant: rgb(255 255 255);
    --md-sys-color-secondary-fixed: rgb(57 76 87);
    --md-sys-color-on-secondary-fixed: rgb(255 255 255);
    --md-sys-color-secondary-fixed-dim: rgb(34 53 64);
    --md-sys-color-on-secondary-fixed-variant: rgb(255 255 255);
    --md-sys-color-tertiary-fixed: rgb(74 69 102);
    --md-sys-color-on-tertiary-fixed: rgb(255 255 255);
    --md-sys-color-tertiary-fixed-dim: rgb(51 46 78);
    --md-sys-color-on-tertiary-fixed-variant: rgb(255 255 255);
    --md-sys-color-surface-dim: rgb(181 185 189);
    --md-sys-color-surface-bright: rgb(246 250 254);
    --md-sys-color-surface-container-lowest: rgb(255 255 255);
    --md-sys-color-surface-container-low: rgb(237 241 245);
    --md-sys-color-surface-container: rgb(223 227 231);
    --md-sys-color-surface-container-high: rgb(209 213 217);
    --md-sys-color-surface-container-highest: rgb(195 199 203);
}