.light-medium-contrast {
    --md-sys-color-primary: rgb(0 59 80);
    --md-sys-color-surface-tint: rgb(26 101 133);
    --md-sys-color-on-primary: rgb(255 255 255);
    --md-sys-color-primary-container: rgb(46 116 148);
    --md-sys-color-on-primary-container: rgb(255 255 255);
    --md-sys-color-secondary: rgb(37 57 67);
    --md-sys-color-on-secondary: rgb(255 255 255);
    --md-sys-color-secondary-container: rgb(92 112 124);
    --md-sys-color-on-secondary-container: rgb(255 255 255);
    --md-sys-color-tertiary: rgb(55 50 82);
    --md-sys-color-on-tertiary: rgb(255 255 255);
    --md-sys-color-tertiary-container: rgb(110 105 140);
    --md-sys-color-on-tertiary-container: rgb(255 255 255);
    --md-sys-color-error: rgb(116 0 6);
    --md-sys-color-on-error: rgb(255 255 255);
    --md-sys-color-error-container: rgb(207 44 39);
    --md-sys-color-on-error-container: rgb(255 255 255);
    --md-sys-color-background: rgb(246 250 254);
    --md-sys-color-on-background: rgb(23 28 31);
    --md-sys-color-surface: rgb(246 250 254);
    --md-sys-color-on-surface: rgb(13 18 21);
    --md-sys-color-surface-variant: rgb(220 227 233);
    --md-sys-color-on-surface-variant: rgb(48 55 60);
    --md-sys-color-outline: rgb(76 83 88);
    --md-sys-color-outline-variant: rgb(103 110 115);
    --md-sys-color-shadow: rgb(0 0 0);
    --md-sys-color-scrim: rgb(0 0 0);
    --md-sys-color-inverse-surface: rgb(44 49 52);
    --md-sys-color-inverse-on-surface: rgb(237 241 245);
    --md-sys-color-inverse-primary: rgb(142 207 242);
    --md-sys-color-primary-fixed: rgb(46 116 148);
    --md-sys-color-on-primary-fixed: rgb(255 255 255);
    --md-sys-color-primary-fixed-dim: rgb(4 91 122);
    --md-sys-color-on-primary-fixed-variant: rgb(255 255 255);
    --md-sys-color-secondary-fixed: rgb(92 112 124);
    --md-sys-color-on-secondary-fixed: rgb(255 255 255);
    --md-sys-color-secondary-fixed-dim: rgb(68 87 99);
    --md-sys-color-on-secondary-fixed-variant: rgb(255 255 255);
    --md-sys-color-tertiary-fixed: rgb(110 105 140);
    --md-sys-color-on-tertiary-fixed: rgb(255 255 255);
    --md-sys-color-tertiary-fixed-dim: rgb(86 80 115);
    --md-sys-color-on-tertiary-fixed-variant: rgb(255 255 255);
    --md-sys-color-surface-dim: rgb(195 199 203);
    --md-sys-color-surface-bright: rgb(246 250 254);
    --md-sys-color-surface-container-lowest: rgb(255 255 255);
    --md-sys-color-surface-container-low: rgb(240 244 248);
    --md-sys-color-surface-container: rgb(229 233 237);
    --md-sys-color-surface-container-high: rgb(217 221 225);
    --md-sys-color-surface-container-highest: rgb(206 210 214);
}