.light-high-contrast {
    --md-sys-color-primary: rgb(28 50 0);
    --md-sys-color-surface-tint: rgb(76 102 43);
    --md-sys-color-on-primary: rgb(255 255 255);
    --md-sys-color-primary-container: rgb(55 80 24);
    --md-sys-color-on-primary-container: rgb(255 255 255);
    --md-sys-color-secondary: rgb(38 47 26);
    --md-sys-color-on-secondary: rgb(255 255 255);
    --md-sys-color-secondary-container: rgb(67 76 53);
    --md-sys-color-on-secondary-container: rgb(255 255 255);
    --md-sys-color-tertiary: rgb(0 50 48);
    --md-sys-color-on-tertiary: rgb(255 255 255);
    --md-sys-color-tertiary-container: rgb(33 80 78);
    --md-sys-color-on-tertiary-container: rgb(255 255 255);
    --md-sys-color-error: rgb(96 0 4);
    --md-sys-color-on-error: rgb(255 255 255);
    --md-sys-color-error-container: rgb(152 0 10);
    --md-sys-color-on-error-container: rgb(255 255 255);
    --md-sys-color-background: rgb(249 250 239);
    --md-sys-color-on-background: rgb(26 28 22);
    --md-sys-color-surface: rgb(249 250 239);
    --md-sys-color-on-surface: rgb(0 0 0);
    --md-sys-color-surface-variant: rgb(225 228 213);
    --md-sys-color-on-surface-variant: rgb(0 0 0);
    --md-sys-color-outline: rgb(42 45 36);
    --md-sys-color-outline-variant: rgb(71 75 64);
    --md-sys-color-shadow: rgb(0 0 0);
    --md-sys-color-scrim: rgb(0 0 0);
    --md-sys-color-inverse-surface: rgb(47 49 42);
    --md-sys-color-inverse-on-surface: rgb(255 255 255);
    --md-sys-color-inverse-primary: rgb(177 209 138);
    --md-sys-color-primary-fixed: rgb(55 80 24);
    --md-sys-color-on-primary-fixed: rgb(255 255 255);
    --md-sys-color-primary-fixed-dim: rgb(33 57 3);
    --md-sys-color-on-primary-fixed-variant: rgb(255 255 255);
    --md-sys-color-secondary-fixed: rgb(67 76 53);
    --md-sys-color-on-secondary-fixed: rgb(255 255 255);
    --md-sys-color-secondary-fixed-dim: rgb(44 54 32);
    --md-sys-color-on-secondary-fixed-variant: rgb(255 255 255);
    --md-sys-color-tertiary-fixed: rgb(33 80 78);
    --md-sys-color-on-tertiary-fixed: rgb(255 255 255);
    --md-sys-color-tertiary-fixed-dim: rgb(3 57 55);
    --md-sys-color-on-tertiary-fixed-variant: rgb(255 255 255);
    --md-sys-color-surface-dim: rgb(184 186 175);
    --md-sys-color-surface-bright: rgb(249 250 239);
    --md-sys-color-surface-container-lowest: rgb(255 255 255);
    --md-sys-color-surface-container-low: rgb(241 242 230);
    --md-sys-color-surface-container: rgb(226 227 216);
    --md-sys-color-surface-container-high: rgb(212 213 202);
    --md-sys-color-surface-container-highest: rgb(198 199 189);
}